@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --THEME_COLOR: #0f7bff;
    --ACCENT_BLUE: #0063dd;
    --PRIMARY_TEXT: #333;
    --SECONDARY_TEXT: #929292;
    --BACKGROUND_BLUE: #f5fcfd;
    --ACCENT_LIGHTBLUE: #dfedff;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /* padding: 0 13%; */
    max-width: 1920px;
    /* padding: 0 140px; */
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid; */
    width: 100%;
}

/*body > * {
    padding-left: 140px;
    padding-right: 140px;
}*/

body, p, a, span, button {
    font-family: 'Quicksand',monospace, sans-serif;
    color: var(--SECONDARY_TEXT);
    font-size: 16px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h1, h2, h3, h4 {
    color: var(--PRIMARY_TEXT);
}

p {
    line-height: 28px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    height: max-content;
}

button {
    width: 166px;
    border-radius: 25px;
    border-style: solid;
    border-color: var(--THEME_COLOR);
    color: var(--THEME_COLOR);
    background: none;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

button span {
    color: var(--THEME_COLOR);
    font-weight: 700;
    display: grid;
    align-content: center;
}

button:hover {
    animation: shadow 0.7s ease-in-out both;
}

header button:hover, article section:last-of-type .blueBtn:hover {
    animation: rotate 0.7s ease-in-out both;
}

header button:hover span, article section:last-of-type .blueBtn:hover p {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

header {
    position: fixed;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: max-content 573px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 102.5em;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    z-index: 20;
    padding-left: 11em;
    padding-right: 11em;
    padding-bottom: 1em;
}

.scrolledHeader {
    background: white;
    border-bottom: 5px solid #157af6;
}

header > div:first-child {
    background-color: var(--THEME_COLOR);
    width: 179px;
    height: 100px;
    border-radius: 0 0 25px 25px;
    display: grid;
    align-content: center;
    text-align: center;
    position: relative;
}

header > div:first-child h1 {
    height: 60px;
}

header > div:first-child a {
    font-size: 36px;
    color: #fff;
}

header > nav, header > nav button {
    text-transform: uppercase;
}

header .blueBtn {
    background: var(--ACCENT_BLUE);
}

header > nav > ul {
    display: grid;
    width: 576px;
    grid-template-columns: 87px 118px 102px 100px auto;
    align-items: center;
}

header > nav li:last-child {
    font-size: 16px;
    justify-self: right;
}

article > section:first-of-type, article > section:nth-of-type(2n) {
    background-color: var(--BACKGROUND-BLUE);
}

article > section:first-child {
    height: 943px;
    padding-top: 100px;
    display: grid;
    text-align: center;
    grid-auto-rows: 1fr 600px;
    justify-content: center;
    background-image: url('images/Shape1.png');
}

article > section:first-child > div:first-child {
    width: 613px;
    justify-self: center;
    display: grid;
    margin-top: 93px;
    grid-template-rows: 1fr 2.5fr 2fr;
    align-items: center;
    justify-items: center;
}

article > section:first-child > div:first-child > p {
    line-height: 28px;
    margin-top: 15px;
}

article > section:first-child > div:first-child > div {
    width: 365px;
    height: 50px;
    display: grid;
    grid-gap: 26px;
    grid-template-columns: 1fr 1fr;
}

article > section:first-child > div:last-child {
    width: 810px;
    display: flex;
    align-items: flex-end;
}

.device {
    background-image: url('images/Place screen.png');
    /* width: 800px; */
    height: 450px;
    /* width: 100%; */
    min-width: 260px;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-filter: drop-shadow(1px 1px 22px rgba(0,0,0,0.2));
}

div.device:hover {
    transform: scale(1.1);
    z-index: 3;
    width: 300px;
    margin-bottom: 23px;
    background-size: cover;
    -webkit-filter: drop-shadow(1px 1px 22px rgba(0,0,0,0.35));   
}

.device:nth-of-type(2) {
    height: 539px;
    /* width: 810px; */
    /* width: auto; */
    min-width: 350px;
    background-image: url('images/screen.png');
    /* position: absolute; */
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-left: 230px;
    /* -webkit-filter: drop-shadow(1px 1px 22px rgba(0,0,0,0.4));*/
}

#plus {
    font-size: 48px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.67em;
    z-index: 5;
    border: 0.2px solid #dcdcdc;
    border-width: thin;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus:hover{
    background-color: rgb(255 255 255 / 80%);
    box-shadow: 0px 2px 14px 5px rgb(0 0 0 / 10%);
    transform: scale(1.2);
}

.device:last-of-type {
    margin-left: 550px;
}

.blueBtn {
    background-color: var(--THEME_COLOR);
   
}

.blueBtn span {
    color: #fff;
}

#features {
    align-items: center;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

#features > div {
    height: 290px;
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-rows: 2fr 30px 2fr;
    align-items: center;
}

#features > div:nth-last-of-type(2) {
    margin-top: 60px;
}

#features > div:first-of-type, #features > div:last-of-type {
    margin-bottom: 33px;
}


article  section:nth-of-type(4) div section div div {
    background-color: var(--ACCENT-LIGHTBLUE);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#features div div:first-of-type {
    background-image: url('images/icons/FeatureIcon1.png');
}

#features div:nth-of-type(2) div {
    background-image: url('images/icons/FeatureIcon2.png');
    background-position-x: 23px;
}

#features div:last-of-type div {
    background-image: url('images/icons/FeatureIcon3.png');
}

.shadowedBlock {
    max-width: 360px;
    border-radius: 5px;
    box-shadow: 0 0 20px 15px #0000000f;
    background: #fff;
    min-width: 250px;
}

.shadowedBlock:hover {
    transform: scale(1.1);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: 0 0 30px 20px #0000001c;
}

.shadowedBlock p {
    line-height: 34px;
}

article > section:nth-of-type(3) {
    height: 1088px;
}

article > section:nth-of-type(3) > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    max-height: 592px;
}

article > section:nth-of-type(3) > div:first-of-type > div:first-of-type {
    display: grid;
    justify-content: center;
}

article > section:nth-of-type(3) > div:last-of-type > div:last-of-type {
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 45px;
    display: grid;
    left: 55%;
}

article > section:nth-of-type(3) > div:first-of-type > div:last-of-type,
article > section:nth-of-type(3) > div:last-of-type > div:first-of-type {
    display: grid;
    align-self: center;
    grid-gap: 30px;
    grid-template-rows: 50px 1fr 50px;
    margin-top: 70px;
    max-width: 567px;
}

article > section:nth-of-type(3) > div:last-of-type > div:first-of-type {
    justify-self: self-end;
}

article > section:nth-of-type(3) > div:first-of-type div:first-of-type img:last-of-type {
    position: absolute;
    margin-left: 330px;
    margin-top: 30px;
}

article > section:nth-of-type(3) > div:last-of-type div:last-of-type img:last-of-type {
    margin-left: 180px;
    position: absolute;
    margin-top: 40px;
}

article > section:nth-of-type(3) > div:first-of-type div:first-of-type img {
    padding-top: 58px;
}

article > section:nth-of-type(4) {
    height: 646px;
    margin-top: 90px;
    display: grid;
    grid-template-rows: 50px 100px 250px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-items: center;
    align-content: center;
}

article > section:nth-of-type(4 ) > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: -webkit-center;
}

article > section:nth-of-type(4 ) > div > section > div {
    height: 100%;
    align-items: end;
    display: grid;
    justify-items: center;
}

article > section:nth-of-type(4 ) > p {
    max-width: 750px;
    align-self: center;
}

article > section:nth-of-type(4) div section div div {
    width: 100px;
    height: 100px;
    background-color: var(--ACCENT_LIGHTBLUE);
}

article > section:nth-of-type(4) div section:first-of-type div div {
    background-image: url('images/icons/Icon4.png'); 
}

article > section:nth-of-type(4) div section:nth-last-of-type(2) div div {
    background-image: url('images/icons/FeatureIcon3.png'); 
}

article > section:nth-of-type(4) div section:last-of-type div div {
    background-image: url('images/icons/Icon5.png'); 
}

#pricing {
    height: 836px;
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-gap: 2em;
    align-content: center;
    width: max-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#pricing > div:first-of-type {
    align-self: center;
    display: grid;
    min-height: 300px;
}

#pricing > div:first-of-type h2 {
    padding-bottom: 20px;
}

#pricing > div:first-of-type > div {
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--THEME_COLOR);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    text-align: center;
    overflow: hidden;
    align-items: center;
}

#pricing > div:first-of-type > div > a:first-of-type{
    background: var(--THEME_COLOR);
    color: #fff;
    height: 100%;
    display: grid;
    align-content: center;
}

#pricing > div:last-of-type {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(203px, 360px));
    min-height: 590px;
    max-width: 850px;
    grid-gap: 50px;
}
/*
#pricing > div:first-of-type > div > a:first-of-type {
    background: var(--THEME_COLOR);
    color: #fff;
    height: 100%;
    display: grid;
    align-content: center;
}

#pricing > div:first-of-type > div > div {
    background: var(--THEME_COLOR);
    color: #fff;
    height: 100%;
    display: grid;
    align-content: center;
}
*/
.hr {
    position: absolute;
    width: 43em;
    height: 1px;
    border-bottom: 1px solid var(--ACCENT_LIGHTBLUE);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.2em;
    left: 0;
    z-index: -1;
    right: 0;
}

#pricing section:first-child span div div {
    background-image: url('images/icons/icon6.png'); 
}

#pricing section:last-child span div div {
    background-image: url('images/icons/Icon7.png'); 
}

#pricing section span div div, #features div div {
    width: 88px;
    height: 88px;
    border: 12px solid var(--ACCENT-LIGHTBLUE);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-color: #cfe4fe;
}

#pricing .shadowedBlock span > div {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 35px 90px;
    height: 90%;
    text-align: center;
}

.shadowedBlock ul {
    padding-bottom: 15px;
}

#pricing .shadowedBlock span > div h2,
#pricing .shadowedBlock span > div h2 span {
    color: var(--THEME_COLOR);
}

article section:nth-of-type(6) {
    height: 608px;
    display: grid;
    grid-template-columns: auto 1fr;
    /*grid-template-columns: 60% 40%;*/
    grid-gap: 75px;
}

article section:nth-of-type(6) > div:first-of-type {
    width: 775px;
    min-height: 608px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    background: url('images/Photo5.png');
    background-repeat: no-repeat;
}

article section:nth-of-type(6) > div:last-of-type {
    display: grid;
    grid-template-rows: min-content 250px 45px;
    min-height: 379px;
    align-self: center;
    grid-gap: 20px;
    overflow: hidden;
    padding-left: 30px;
}

article section:nth-of-type(6) > div:last-of-type > div:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 215px;
    grid-gap: 25px;
    align-content: center;
    width: 100%;
    transition: all 2.5s linear;
}

article section:nth-of-type(6) .shadowedBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

article section:nth-of-type(6) .shadowedBlock p {
    padding: 0 2em;
    font-size: 15px;
    overflow: scroll;
}

article section:nth-of-type(6) .shadowedBlock > div {
    display: grid;
    padding: 3em 2em 0;
    grid-template-columns: 12fr 1fr;
}

article section:nth-of-type(6) a {
    background-image: url('images/icons/Twitter icon.png');
    background-repeat: no-repeat;
}

#pages {
    height: 960px;
    display: grid;
    grid-template-rows: 280px 1fr;
}

#pages h2 {
    min-height: 73px;
    background-image: url('images/figure.png');
    background-repeat: no-repeat;
    background-position-x: center;
}

#pages > div:first-child {
    max-width: 735px;
    text-align: center;
    justify-self: center;
    align-self: end;
    height: 150px;
    display: grid;
    grid-template-rows: 70px auto;
}

#pages > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    grid-gap: 2em;
}

#pages > div:last-child > section:first-child {
    display: grid;
    grid-template-rows: min-content 80px 100px 35px;
    grid-gap: 1em;
}

#pages > div:last-child > section:first-child h3 {
    font-size: 24px;
    color: var(--THEME_COLOR);
    padding-top: 0.8em;
}

#pages > div:last-child > div:last-child {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 0.5em;
}

#pages > div:last-child > div:last-child  section {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 25px;
}

#pages > div:last-child > div:last-child  section h3 {
    margin-bottom: 1em;
}

article > section:last-of-type {
    min-height: 336px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 263px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

article > section:last-of-type .blueBtn p {
    color: #fff;
    text-align: center;
    height: 100%;
    display: grid;
    align-content: center;
}

article > section:last-of-type .blueBtn {
    display: flex;
    justify-content: center;
}

article > section:last-of-type .blueBtn div {
    background-image: url('./images/icons/rightArrow.png');
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
    height: 100%;
    filter: drop-shadow(0 0 1px white);
}

.pagination {
    display: flex;
    width: 100px;
    align-items: center;
    /*justify-content: space-between;*/
}

.pagination span {
    background: lightgrey;
    border-radius: 30px;
    height: 0.55em;
    width: 1.3em;
    margin-right: 0.5em;
}

.pagination span.active {
    background: var(--THEME_COLOR);
    width: 2em;
}

.backgroundBlueRomb {
    width: 487px;
    height: 421px;
    background-color: #157af6;
    border-radius: 40px;
    transform: rotate(50deg);
    position: absolute;
    z-index: -5;
    margin-left: 80px;
    margin-top: 80px;
}

.backgroundBlueRomb.last {
    /*right: 24em;*/
    margin-top: 60px;
}

.link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.link p {
    font-size: 16px;
    color: var(--THEME_COLOR);
}

.link div {
    background-image: url('./images/icons/rightArrow.png');
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
    height: 100%;
}

footer {
    height: 485px;
    background-color: var(--THEME_COLOR);
    display: grid;
    grid-template-rows: 1fr 105px;
    text-align: center;
    align-items: center;
}

footer div * {
    color: var(--ACCENT_LIGHTBLUE)
}

footer > div:first-of-type {
    display: grid;
    grid-gap: 20px;
}

footer > div:first-of-type > div {
    height: 60px;
    border: 1px solid var(--ACCENT_LIGHTBLUE);
    width: 550px;
    justify-self: center;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

footer > div:first-of-type > div input,
footer > div:first-of-type > div input::placeholder {
    padding-left: 1em;
    font-size: 16px;
    color: #fff;
    background: none;
    border: none;
}

footer > div:first-of-type > div button{
    color: var(--THEME_COLOR);
    background-color: #fff;
    height: 100%;
    border: none;
    border-radius: 0 25px 25px 0;
    overflow: auto;
    text-transform: uppercase;
}
 
footer > div:last-of-type {
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 1fr;
    height: 100%;
    border-top: 1px solid var(--ACCENT_LIGHTBLUE);
    align-content: center;
    padding: 0 0 0 17em;
    align-items: center;
}

footer ul {
    display: grid;
    grid-template-columns: auto auto auto;
}
/*
footer ul:last-of-type {
    width: 100px;
    margin-left: auto;
}*/

#scroll img {
    box-shadow: 0 0 10px 10px #06316521;
    position: fixed;
    bottom: 2.5em;
}

@media (max-width: 750px) {
    header {
        width: 100%;
        padding: 0;
        height: 60px;
    }

    header > div:first-child a {
        font-size: 20px;
    }

    header > div:first-child{
        width: min-content;
        height: 60px;
        display: none;
    }

    header > nav >ul {
        grid-template-columns: min-content min-content min-content min-content min-content;
        grid-gap: 2em;
        padding-left: 30px;
    }

    article > section:first-child > div:first-child {
        width: 400px;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 1em;
    }

    article > section:nth-of-type(3) > div:first-of-type > div:first-of-type,
    article > section:nth-of-type(3) > div:last-of-type > div:last-of-type {
        display: none;
    }
    article > section:nth-of-type(3) {
        max-height: 1088px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: min-content;
    }

    #features, #home {
        height: auto;
    }

    #features {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #features > div.shadowedBlock {
        margin: 20px 0;
    }

    #pages {
        height: fit-content;
    }

    article > section:nth-of-type(4) {
        height: 600px; 
        width: 400px;   
    }

    #pages > div:first-child {
        width: 400px;
    }

    #pricing {
        height: 700px;
    }

    article > section:first-child > div:last-child {
        display: none;
    }
    
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0)
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0)
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0)
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0)
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0)
    }
} 

@keyframes shadow {
    0% {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.0);
    }
    50% {
        box-shadow: 0 5px 15px rgb(19 111 225 / 46%)
    }
    100% {
        box-shadow: 0 5px 15px rgb(19 111 225 / 66%)
    }
} 

@keyframes storm {
    0% {
        transform: translate3d( 0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d( 4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d( -3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d( 2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d( 0, 0, 0) translateZ(0);
    }
}